# PA_assignment_07

In [1]:
%matplotlib notebook

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
from sklearn.metrics import mean_squared_error

In [9]:
from sklearn.neighbors import KNeighborsRegressor

### Step 01 - Import and Clean / Format the Data

In [10]:
bike = pd.read_csv('04_2017_bike_data.csv')

In [11]:
bike.head()

,date,day,temp_high,temp_low,rain_amt,brooklyn_bridge,manhattan_bridge,williamsburg_bridge,queensboro_bridge,total_cyclists,Unnamed: 10
0,1-Apr,Saturday,46.0,37.0,0,606,"1,446","1,915","1,430","5,397",NaN
1,2-Apr,Sunday,62.1,41.0,0,"2,021","3,943","4,207","2,862","13,033",NaN
2,3-Apr,Monday,63.0,50.0,0.03,"2,470","4,988","5,178","3,689","16,325",NaN
3,4-Apr,Tuesday,51.1,46.0,1.18,723,"1,913","2,279","1,666","6,581",NaN
4,5-Apr,Wednesday,63.0,46.0,0,"2,807","5,276","5,711","4,197","17,991",NaN

In [12]:
bike['date'] = bike['date'].str.replace('Apr', '3')

In [13]:
split_date = bike['date'].str.split('-', n=1, expand=True)

In [14]:
split_date[0] = np.where(split_date[0].str.len() < 2, '0' + split_date[0], split_date[0])

In [15]:
bike['date'] = split_date[1] + split_date[0]

In [16]:
bike.head(31)

,date,day,temp_high,temp_low,rain_amt,brooklyn_bridge,manhattan_bridge,williamsburg_bridge,queensboro_bridge,total_cyclists,Unnamed: 10
0,301,Saturday,46.0,37.0,0,606,"1,446","1,915","1,430","5,397",NaN
1,302,Sunday,62.1,41.0,0,"2,021","3,943","4,207","2,862","13,033",NaN
2,303,Monday,63.0,50.0,0.03,"2,470","4,988","5,178","3,689","16,325",NaN
3,304,Tuesday,51.1,46.0,1.18,723,"1,913","2,279","1,666","6,581",NaN
4,305,Wednesday,63.0,46.0,0,"2,807","5,276","5,711","4,197","17,991",NaN
5,306,Thursday,48.9,41.0,0.73,461,"1,324","1,739","1,372","4,896",NaN
6,307,Friday,48.0,43.0,T,"1,222","2,955","3,399","2,765","10,341",NaN
7,308,Saturday,55.9,39.9,0,"1,674","3,163","4,082","2,691","11,610",NaN
8,309,Sunday,66.0,45.0,0,"2,375","4,377","4,886","3,261","14,899",NaN
9,310,Monday,73.9,55.0,0,"3,324","6,359","6,881","4,731","21,295",NaN
10,311,Tuesday,80.1,62.1,0,"3,887","7,247","8,079","5,501","24,714",NaN
11,312,Wednesday,73.9,57.9,0.02,"2,565","5,633","6,620","4,537","19,355",NaN
12,313,Thursday,64.0,48.9,0,"3,353","6,052","6,775","4,700","20,880",NaN
13,314,Friday,64.9,48.9,0,"2,942","5,054","5,877","4,142","18,015",NaN
14,315,Saturday,64.9,52.0,0,"2,253","3,853","4,965","3,291","14,362",NaN
15,316,Sunday,84.9,62.1,T,"2,877","4,585","5,259","3,687","16,408",NaN
16,317,Monday,73.9,64.0,T,"3,152","6,352","6,924","4,658","21,086",NaN
17,318,Tuesday,66.0,50.0,0,"3,415","6,691","7,341","5,012","22,459",NaN
18,319,Wednesday,52.0,45.0,T,"1,965","4,632","5,234","3,996","15,827",
19,320,Thursday,64.9,50.0,0.17,"1,567","3,365","4,302","3,056","12,290",NaN
20,321,Friday,53.1,48.0,0.29,"1,426","3,142","3,674","2,672","10,914",NaN
21,322,Saturday,55.9,52.0,0.11,"1,318","2,297","2,963","2,366","8,944",NaN
22,323,Sunday,64.9,46.9,0,"2,520","4,681","5,105","3,434","15,740",NaN
23,324,Monday,60.1,50.0,T,"2,544","5,366","5,762","4,183","17,855",NaN
24,325,Tuesday,54.0,50.0,0.91,611,"1,402","1,902","1,578","5,493",NaN
25,326,Wednesday,59.0,54.0,0.34,"1,247","2,774","3,429","2,369","9,819",NaN
26,327,Thursday,68.0,59.0,0,"2,959","5,311","6,026","4,285","18,581",NaN
27,328,Friday,82.9,57.9,0,"3,679","6,774","7,196","5,138","22,787",NaN
28,329,Saturday,84.0,64.0,0.06,"3,315","5,605","6,045","4,078","19,043",NaN
29,330,Sunday,64.0,54.0,0,"2,225","4,057","4,513","3,137","13,932",NaN

In [17]:
bike['day'] = bike['day'].str.replace('Sunday', '0')

In [18]:
bike['day'] = bike['day'].str.replace('Monday', '1')

In [19]:
bike['day'] = bike['day'].str.replace('Tuesday', '2')

In [20]:
bike['day'] = bike['day'].str.replace('Wednesday', '3')

In [21]:
bike['day'] = bike['day'].str.replace('Thursday', '4')

In [22]:
bike['day'] = bike['day'].str.replace('Friday', '5')

In [23]:
bike['day'] = bike['day'].str.replace('Saturday', '6')

In [24]:
bike['day'] = pd.to_numeric(bike['day'], errors='coerce')

In [25]:
bike['rain_amt'] = bike['rain_amt'].str.replace('T', '-0.1')

In [26]:
bike['rain_amt'] = pd.to_numeric(bike['rain_amt'], errors='coerce')

In [27]:
bike = bike.drop('Unnamed: 10', axis=1)

In [28]:
bike.dtypes

date                    object
day                      int64
temp_high              float64
temp_low               float64
rain_amt               float64
brooklyn_bridge         object
manhattan_bridge        object
williamsburg_bridge     object
queensboro_bridge       object
total_cyclists          object
dtype: object

In [29]:
bike['date'] = pd.to_numeric(bike['date'], errors='coerce')

In [30]:
bike['brooklyn_bridge'] = bike['brooklyn_bridge'].str.replace(',', '')

In [31]:
bike['brooklyn_bridge'] = pd.to_numeric(bike['brooklyn_bridge'], errors='coerce')

In [32]:
bike['manhattan_bridge'] = bike['manhattan_bridge'].str.replace(',', '')

In [33]:
bike['manhattan_bridge'] = pd.to_numeric(bike['manhattan_bridge'], errors='coerce')

In [34]:
bike['williamsburg_bridge'] = bike['williamsburg_bridge'].str.replace(',', '')

In [35]:
bike['williamsburg_bridge'] = pd.to_numeric(bike['williamsburg_bridge'], errors='coerce')

In [36]:
bike['queensboro_bridge'] = bike['queensboro_bridge'].str.replace(',', '')

In [37]:
bike['queensboro_bridge'] = pd.to_numeric(bike['queensboro_bridge'], errors='coerce')

In [38]:
bike['total_cyclists'] = bike['total_cyclists'].str.replace(',', '')

In [39]:
bike['total_cyclists'] = pd.to_numeric(bike['total_cyclists'], errors='coerce')

In [40]:
bike.dtypes

date                     int64
day                      int64
temp_high              float64
temp_low               float64
rain_amt               float64
brooklyn_bridge          int64
manhattan_bridge         int64
williamsburg_bridge      int64
queensboro_bridge        int64
total_cyclists           int64
dtype: object

In [41]:
bike.head(31)

,date,day,temp_high,temp_low,rain_amt,brooklyn_bridge,manhattan_bridge,williamsburg_bridge,queensboro_bridge,total_cyclists
0,301,6,46.0,37.0,0.00,606,1446,1915,1430,5397
1,302,0,62.1,41.0,0.00,2021,3943,4207,2862,13033
2,303,1,63.0,50.0,0.03,2470,4988,5178,3689,16325
3,304,2,51.1,46.0,1.18,723,1913,2279,1666,6581
4,305,3,63.0,46.0,0.00,2807,5276,5711,4197,17991
5,306,4,48.9,41.0,0.73,461,1324,1739,1372,4896
6,307,5,48.0,43.0,-0.10,1222,2955,3399,2765,10341
7,308,6,55.9,39.9,0.00,1674,3163,4082,2691,11610
8,309,0,66.0,45.0,0.00,2375,4377,4886,3261,14899
9,310,1,73.9,55.0,0.00,3324,6359,6881,4731,21295
10,311,2,80.1,62.1,0.00,3887,7247,8079,5501,24714
11,312,3,73.9,57.9,0.02,2565,5633,6620,4537,19355
12,313,4,64.0,48.9,0.00,3353,6052,6775,4700,20880
13,314,5,64.9,48.9,0.00,2942,5054,5877,4142,18015
14,315,6,64.9,52.0,0.00,2253,3853,4965,3291,14362
15,316,0,84.9,62.1,-0.10,2877,4585,5259,3687,16408
16,317,1,73.9,64.0,-0.10,3152,6352,6924,4658,21086
17,318,2,66.0,50.0,0.00,3415,6691,7341,5012,22459
18,319,3,52.0,45.0,-0.10,1965,4632,5234,3996,15827
19,320,4,64.9,50.0,0.17,1567,3365,4302,3056,12290
20,321,5,53.1,48.0,0.29,1426,3142,3674,2672,10914
21,322,6,55.9,52.0,0.11,1318,2297,2963,2366,8944
22,323,0,64.9,46.9,0.00,2520,4681,5105,3434,15740
23,324,1,60.1,50.0,-0.10,2544,5366,5762,4183,17855
24,325,2,54.0,50.0,0.91,611,1402,1902,1578,5493
25,326,3,59.0,54.0,0.34,1247,2774,3429,2369,9819
26,327,4,68.0,59.0,0.00,2959,5311,6026,4285,18581
27,328,5,82.9,57.9,0.00,3679,6774,7196,5138,22787
28,329,6,84.0,64.0,0.06,3315,5605,6045,4078,19043
29,330,0,64.0,54.0,0.00,2225,4057,4513,3137,13932

In [42]:
bike.to_csv('jose_vila_cleaned_assignment_7_data.csv')

### Step 02 - Create and Train the Linear Regression Model

In [43]:
X = bike.drop(['temp_high', 'day', 'total_cyclists', 'brooklyn_bridge', 'manhattan_bridge', 'williamsburg_bridge', 'queensboro_bridge'], axis=1)

In [44]:
y = bike['total_cyclists']

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [46]:
ml_reg = LinearRegression()

In [47]:
ml_reg.fit(X_train, y_train)

LinearRegression()

In [48]:
y_pred_ml_reg = ml_reg.predict(X_train)

In [49]:
y_pred_ml_reg

array([18861.84083942, 14246.95854265, 18286.08747784, 15622.08341833,
       15182.83815846, 19513.55096083, 16064.18813511, 14289.88839109,
       15043.26472456,  4206.85065843,  6625.09351063, 22886.30159738,
       16819.2674309 , 11832.05045703, 18590.16125027, 22132.6073727 ,
       13586.58823915, 11408.07895222, 13092.3864873 , 13852.89256128,
       21648.23129115, 13917.62487207, 15668.10130019, 14463.06095969,
       20345.51493452, 16714.6933051 , 15533.79417171])

In [50]:
pd.Series(ml_reg.coef_, index=X_train.columns).sort_values(ascending=False).round(2)

temp_low     443.15
date         -88.29
rain_amt   -9258.22
dtype: float64

In [51]:
ml_reg.score(X_test, y_test)

0.8321568431489657

In [52]:
mse_ml_reg = mean_squared_error(y_true=y_train, y_pred=y_pred_ml_reg)

In [53]:
mse_ml_reg

10955395.345026126

In [54]:
y_pred_null_model = np.full(y_train.shape, y_train.mean())

In [55]:
mse_null_model = mean_squared_error(y_true=y_train, y_pred=y_pred_null_model)

In [56]:
mse_null_model

28125064.677640602

In [57]:
mse_null_model > mse_ml_reg

True

In [58]:
mse_null_model - mse_ml_reg

17169669.332614474

### Step 03 - Create and Train the KNN Model

In [59]:
knn = KNeighborsRegressor(n_neighbors=12)

In [60]:
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=12)

In [61]:
y_pred_knn = knn.predict(X_train)

In [62]:
knn.score(X_test, y_test)

-1.3672676735969764

In [63]:
mse_knn = mean_squared_error(y_true=y_train, y_pred=y_pred_knn)

In [64]:
mse_knn

22301001.486111112

In [65]:
mse_null_model > mse_knn

True

In [66]:
mse_null_model - mse_knn

5824063.19152949

In [67]:
mse_knn > mse_ml_reg

True

In [68]:
mse_knn - mse_ml_reg

11345606.141084986